#popup-content {
  min-width: 640px;
  font-size: 1rem;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#popup-content h1 {
  font-size: 1.8rem;
}
#popup-content p {
  font-size: 1.1rem;
}
#popup-content code {
  color: #bbb;
  background: #333;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

#popup-content .container {
  padding: 0.35em 1em;
}

#popup-content h1,
#popup-content h2,
#popup-content h3,
#popup-content h4,
#popup-content h5 {
  font-style: italic;
}

#popup-content a {
  color: #ffffff;
}

#popup-content pre {
  padding: 1em;
  background-color: #ccc;
  color: #000;
  line-height: 1.1em;
}